* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #fefffd;
    font-family: Arial, Helvetica, sans-serif;
}

.product-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-combine-section {
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 15px;
    padding-right: 15px;
}

.wrapper-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 660px;
    padding-top: 40px;
    margin-bottom: 15px;
    flex: 1;
}

.wrapper-section.tv4k {
    padding: 0;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 0.5;
}

.text-wrapper.tv4k {
    position: absolute;
    right: 25%;
    top: 60px;
    text-align: center;
}

.product-title {
    font-size: 4vw;
    font-weight: 600;
    padding-bottom: 5px;
}

.product-slogan {
    font-size: 2vw;
    font-weight: 500;
}

.product-logo img {
    width: 100%;
    max-width: 200px;
    padding-bottom: 10px;
}

.product-logo.tv4k img {
    width: 70%;
}

.image-section {
    flex-grow: 3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.image-section.iphone8 {
    width: 100%;
    height: 400px;
    background-image: url("/img-apple/iphone_8_largetall_2x.jpg");
    background-position: center bottom;
}

.image-section.iphoneX {
    width: 70%;
    height: 400px;
    background-image: url("/img-apple/iphone_x_largetall_2x.jpg");
    background-position: center 75%;
}

.image-section.watch-large {
    width: 70%;
    height: 400px;
    background-image: url("/img-apple/watch_largetall_2x.jpg");
}

.image-section.tv4k {
    width: 100%;
    background-image: url("/img-apple/tv_4k_large_2x.jpg");
    background-size: cover;
    position: relative;
}

.image-section.ios11 {
    width: 80%;
    background-image: url("/img-apple/ios_large_2x.jpg");
}

.image-section.watchOS {
    width: 80%;
    background-image: url("/img-apple/watchos_large_2x.jpg");
}

.image-section.macOS {
    width: 70%;
    background-image: url("/img-apple/macos_high_sierra_large_2x.jpg");
    background-position: center 30%;
}